.fancy-text {
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.btn {
  position: absolute;
  border: none;
  transition: transform 0.3s ease;
}

.mainBody {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.content {
  text-align: center;
}

.content img {
  max-width: 25rem;
  max-height: 25rem;
}

.button-align {
  text-align: center;
}

.submit-button-style {
  float: right;
  height: 2rem;
  margin-top: 0.5rem; 
}

.disable-caret {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;       
}