<div class="hide-caret disable-caret">
    <div class="container mainBody" *ngIf="!visible">
        <div class="grid">
            <div class="col-12">
                <div class="content">
                    <div *ngIf="isDateAgreed" >
                        <img src="../assets/giphy.gif"> 
                        <div class="fancy-text">
                            {{ userName }}, you are the best!!! 
                        </div> 
                    </div>
                    <div *ngIf="!isDateAgreed">
                        <img src="../assets/init.PNG">   
                        <div class="fancy-text">
                            Will you go on the date with me, {{ userName }}?
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-6" style="text-align: center;" *ngIf="!isDateAgreed">
                <button pButton type="button" label="Yes" (click)="onDateAgreedClick()"></button>
                <button style="margin-left: 10px;" class="btn" pButton type="button" (mouseenter)="onFocus()" label="No"></button>    
            </div>
        </div>
    </div>
    <p-dialog 
        header="Please enter your name" 
        [(visible)]="visible" 
        [modal]="true" 
        [style]="{ width: '30vw' }" 
        [draggable]="false" 
        [resizable]="false"
        [closable]="false">
            <form [formGroup]="userForm" (ngSubmit)="onUserNameSubmit()" novalidate> 
                <div class="grid">
                    <div class="col-12">
                        <input type="text" style="width: 100%;" pInputText placeholder="Name" formControlName="name" />
                    </div>
                    <div class="col-12">
                        <button class="submit-button-style" pButton type="submit" label="Submit" [disabled]="userForm.invalid"></button>
                    </div>
                </div>
            </form>
    </p-dialog>
</div>